<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewDeveloper()">New Developer</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-developer-item
      *ngFor="let developer of developers; let i = index"
      [developer]="developer"
      [index]="i"></app-developer-item>
  </div>
</div>
