﻿
@{
    ViewBag.Title = "TreinoToAluno";
}

<h2>Treino/Aluno</h2>

<hr />

@using (Html.BeginForm("TreinoToAluno", "Treino", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.Label("Treino")
                @Html.DropDownList("TreinoId", null, String.Empty, new { @class = "form-control" })
            </div>
        </div>        

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.Label("Aluno")
                @Html.DropDownList("AlunoId", null, String.Empty, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="padding-left:10px">
            <div class="col-sm-9">
                <input type="submit" value="Inserir" title="Cadastrar treino para aluno" class="btn btn-primary" />
            </div>
        </div>

    </div>
}