<button class="btn btn-primary" (click)="onEditDeveloper()">Edit</button>
<button class="btn btn-danger" (click)="onDeleteDeveloper()">Delete</button>
<br />
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#developerInformation">Developer</a></li>
    <li><a data-toggle="tab" href="#bankInformation">Bank</a></li>
    <li><a data-toggle="tab" href="#knowledgeInformation">Knowledge</a></li>
</ul>
<br />
<div class="tab-content">
    <div id="developerInformation" class="tab-pane fade in active">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Email: </label>
                    <span>{{developer.email}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Name: </label>
                    <span>{{developer.name}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Skype: </label>
                    <span>{{developer.skype}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Phone: </label>
                    <span>{{developer.phone}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>LinkedIn: </label>
                    <span>{{developer.linkedin}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>City: </label>
                    <span>{{developer.city}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>State: </label>
                    <span>{{developer.state}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Portifolio: </label>
                    <span>{{developer.portifolio}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>What is your hourly salary requirements? </label><br />
                    <span>{{developer.salaryRequirements}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>What is your willingness to work today? </label><br />
                    <ul>
                        <li *ngIf="developer.hoursPerDay.upToFour">Up to 4 hours per day</li>
                        <li *ngIf="developer.hoursPerDay.fourToSix">4 to 6 hours per day</li>
                        <li *ngIf="developer.hoursPerDay.sixToEight">6 to 8 hours per day</li>
                        <li *ngIf="developer.hoursPerDay.upToEight">Up to 8 hours a day (are you sure?)</li>
                        <li *ngIf="developer.hoursPerDay.weekend">Only weekends</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>What's the best time to work for you?</label><br />
                    <ul>
                        <li *ngIf="developer.timeToWork.morning">Morning (from 08:00 to 12:00)</li>
                        <li *ngIf="developer.timeToWork.afternoon">Afternoon (from 1:00 p.m. to 6:00 p.m.)</li>
                        <li *ngIf="developer.timeToWork.night">Night (7:00 p.m. to 10:00 p.m.)</li>
                        <li *ngIf="developer.timeToWork.dawn">Dawn (from 10 p.m. onwards)</li>
                        <li *ngIf="developer.timeToWork.business">Business (from 08:00 a.m. to 06:00 p.m.)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="bankInformation" class="tab-pane fade">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>CPF: </label>
                    <span>{{developer.bankInformation.cpf}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Bank: </label>
                    <span>{{developer.bankInformation.bank}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Agency: </label>
                    <span>{{developer.bankInformation.agency}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Account Type: </label>
                    <span>{{developer.bankInformation.accountType}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Account Number: </label>
                    <span>{{developer.bankInformation.accountNumber}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="knowledgeInformation" class="tab-pane fade">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Ionic: </label>
                <span>{{developer.knowledge.ionic}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Android: </label>
                <span>{{developer.knowledge.android}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>IOS: </label>
                <span>{{developer.knowledge.ios}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>HTML: </label>
                <span>{{developer.knowledge.html}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>CSS: </label>
                <span>{{developer.knowledge.css}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Bootstrap: </label>
                <span>{{developer.knowledge.bootstrap}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>JQuery: </label>
                <span>{{developer.knowledge.jquery}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Angular: </label>
                <span>{{developer.knowledge.angular}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Java: </label>
                <span>{{developer.knowledge.java}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Asp.Net: </label>
                <span>{{developer.knowledge.aspNet}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>C: </label>
                <span>{{developer.knowledge.c}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>C++: </label>
                <span>{{developer.knowledge.cPlusPlus}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Cake: </label>
                <span>{{developer.knowledge.cake}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Django: </label>
                <span>{{developer.knowledge.django}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Majento: </label>
                <span>{{developer.knowledge.majento}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>PHP: </label>
                <span>{{developer.knowledge.php}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Wordpress: </label>
                <span>{{developer.knowledge.wordpress}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Phyton: </label>
                <span>{{developer.knowledge.phyton}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Ruby: </label>
                <span>{{developer.knowledge.ruby}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>SqlServer: </label>
                <span>{{developer.knowledge.sqlServer}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>MySql: </label>
                <span>{{developer.knowledge.mySql}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Salesforce: </label>
                <span>{{developer.knowledge.salesforce}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Photoshop: </label>
                <span>{{developer.knowledge.photoshop}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Illustrator: </label>
                <span>{{developer.knowledge.illustrator}}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>SEO: </label>
                <span>{{developer.knowledge.seo}}</span>
            </div>
        </div>
    </div>
</div>