<h2>Banco de Talentos - Easy Communication & Technology</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#developerInformation">Developer</a></li>
    <li><a data-toggle="tab" href="#bankInformation">Bank</a></li>
    <li><a data-toggle="tab" href="#knowledgeInformation">Knowledge</a></li>
</ul>
<form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="tab-content">
        <br />
        <div id="developerInformation" class="tab-pane fade in active">            
            <a href="https://www.youtube.com/watch?v=teXgoCzunVE">https://www.youtube.com/watch?v=teXgoCzunVE</a>
            <p>
                We appreciate your contact, check that you do not need to fill out the full form if already has this information on its linkedin, and check out the links at the end of the tutorials (developers).
                Já agradecemos o seu contato, confira que você não precisa preencher o formulario completo caso ja tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (developers).
                How we work / Como trabalhamos:
            </p>
            <a href="https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM">https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM</a>
            <br />
            <br />
            <input id="id" type="text" formControlName="id" hidden/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control" formControlName="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="skype">Skype</label>
                        <input id="skype" type="text" class="form-control" formControlName="skype">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input id="phone" type="text" class="form-control" formControlName="phone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="linkedin">LinkedIn</label>
                        <input id="linkedin" type="text" class="form-control" formControlName="linkedin">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control" formControlName="city">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input id="state" type="text" class="form-control" formControlName="state">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="portifolio">Portifolio</label>
                        <input id="portifolio" type="text" class="form-control" formControlName="portifolio">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="salaryRequirements">Salary Requirements</label>
                        <input id="salaryRequirements" type="text" class="form-control" formControlName="salaryRequirements">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div formGroupName="hoursPerDay">
                            <label>What is your willingness to work today?</label><br />
                            <label><input type="checkbox" formControlName="upToFour">Up to 4 hours per day</label><br />
                            <label><input type="checkbox" formControlName="fourToSix">4 to 6 hours per day</label><br />
                            <label><input type="checkbox" formControlName="sixToEight">6 to 8 hours per day</label><br />
                            <label><input type="checkbox" formControlName="upToEight">Up to 8 hours a day (are you sure?)</label><br />
                            <label><input type="checkbox" formControlName="weekend">Only weekends</label><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div formGroupName="timeToWork">
                            <label>What's the best time to work for you?</label><br />
                            <label><input type="checkbox" formControlName="morning">Morning (from 08:00 to 12:00)</label><br />
                            <label><input type="checkbox" formControlName="afternoon">Afternoon (from 1:00 p.m. to 6:00 p.m.)</label><br />
                            <label><input type="checkbox" formControlName="night">Night (7:00 p.m. to 10:00 p.m.)</label><br />
                            <label><input type="checkbox" formControlName="dawn">Dawn (from 10 p.m. onwards)</label><br />
                            <label><input type="checkbox" formControlName="business">Business (from 08:00 a.m. to 06:00 p.m.)</label><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bankInformation" class="tab-pane fade">
            <div formGroupName="bankInformation">
                You can choose to receive your payment through Paypal, PagSeguro or conventional bank accounts.
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input id="cpf" type="text" class="form-control" formControlName="cpf">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="bank">Bank</label>
                            <input id="bank" type="text" class="form-control" formControlName="bank">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="agency">Agency</label>
                            <input id="agency" type="text" class="form-control" formControlName="agency">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="accountType">Account Type</label>
                            <input id="accountType" type="text" class="form-control" formControlName="accountType">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="accountNumber">Account Number</label>
                            <input id="accountNumber" type="text" class="form-control" formControlName="accountNumber">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="knowledgeInformation" class="tab-pane fade">
            Rate yourself from 0 to 5 for the knowledge specified below, and that's okay if you do not know many things, the important thing is to be honest! 
            <br />
            <br />
            <div formGroupName="knowledge">
                <div *ngFor="let k of knowledge; let i = index;">
                    <label>{{ k | uppercase}}:</label>
                    <br />
                    <ng-container class="radio" *ngFor="let evaluation of evaluations">
                        <label>
                            <input type="radio" formControlName="{{ k }}" [value]="evaluation" /> {{ evaluation }}
                        </label>
                    </ng-container>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <button class="btn btn-success" type="submit" (click)="onSave()">Save</button>
                <button class="btn btn-danger" type="button">Cancel</button>
            </div>
        </div>
    </div>
</form>
