<a class="list-group-item clearfix" style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ developer.name }}</h4>
    <p class="list-group-item-text">{{ developer.email }}</p>
  </div>
</a>
